PORT=8090
IS_PROD=0
PUBLIC_DOMAIN_LOCAL=localhost
PUBLIC_DOMAIN_PROD=

DB_LOCAL_USER=
DB_LOCAL_PASSWORD=
DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=5432
DB_LOCAL_DBNAME=

DB_PROD_USER=
DB_PROD_PASSWORD=
DB_PROD_HOST=localhost
DB_PROD_PORT=5432
DB_PROD_DBNAME=

# JWT
SECRET="secret-key",
# 1 h
# JWT_EXPIRATION=3600
# 24 h
# JWT_REFRESH_EXPIRATION=86400
# 1 min
JWT_EXPIRATION=60
# 2 min
JWT_REFRESH_EXPIRATION=120